In [76]:
import pandas as pd

In [77]:
artilheiros_br24 = {
    "Yuri Alberto" : ('Corinthians', 15),
    "Alerrandro" : ('Vitória', 15),
    "Estevão" : ('Palmeiras', 13),
    "Vegetti" : ('Vasco da Gama', 12),
    "Pedro" : ('Flamengo', 11),
    "Wesley" : ('Internacional', 11),
    "Raphael Veiga" : ('Palmeiras', 11),
    "Luciano" : ('São Paulo', 11)
}

pd.DataFrame(artilheiros_br24.values(), index=artilheiros_br24.keys(), columns=['Time', 'Gols'])

                        Time  Gols
Yuri Alberto     Corinthians    15
Alerrandro           Vitória    15
Estevão            Palmeiras    13
Vegetti        Vasco da Gama    12
Pedro               Flamengo    11
Wesley         Internacional    11
Raphael Veiga      Palmeiras    11
Luciano            São Paulo    11

In [78]:

gols = max(artilheiros_br24, key=lambda x: artilheiros_br24[x][1])
time = artilheiros_br24[gols][0]

In [79]:
print(f"O artilheiro do Brasileirão 2024 é {gols} do time {time} com {artilheiros_br24[gols][1]} gols.")
print("Parabéns!")

O artilheiro do Brasileirão 2024 é Yuri Alberto do time Corinthians com 15 gols.
Parabéns!

In [80]:
for jogador in artilheiros_br24:
    if jogador == gols:
        print(f"Parabéns, {jogador}! Pelo título de artilheiro do Brasileirão 2024.")
    else:
        print(f"Bom trabalho, {jogador}! Continue se esforçando para alcançar o título de artilheiro no próximo ano.")

Parabéns, Yuri Alberto! Pelo título de artilheiro do Brasileirão 2024.
Bom trabalho, Alerrandro! Continue se esforçando para alcançar o título de artilheiro no próximo ano.
Bom trabalho, Estevão! Continue se esforçando para alcançar o título de artilheiro no próximo ano.
Bom trabalho, Vegetti! Continue se esforçando para alcançar o título de artilheiro no próximo ano.
Bom trabalho, Pedro! Continue se esforçando para alcançar o título de artilheiro no próximo ano.
Bom trabalho, Wesley! Continue se esforçando para alcançar o título de artilheiro no próximo ano.
Bom trabalho, Raphael Veiga! Continue se esforçando para alcançar o título de artilheiro no próximo ano.
Bom trabalho, Luciano! Continue se esforçando para alcançar o título de artilheiro no próximo ano.

In [84]:
tabela_br24 = {
    '1º' : ('Botafogo', 79),
    '2º' : ('Palmeiras', 73),
    '3º' : ('Flamengo', 70),
    '4º' : ('Fortaleza', 68),
    '5º' : ('Internacional', 65),
    '6º' : ('São Paulo', 59),
    '7º' : ('Corinthians', 56),
    '8º' : ('Bahia', 53),
    '9º' : ('Cruzeiro', 52),
    '10º' : ('Vasco da Gama', 50),
    '11º' : ('Vitória', 47),
    '12º' : ('Atlético MG', 47),
    '13º' : ('Fluminense', 46),
    '14º' : ('Grêmio', 45),
    '15º' : ('Juventude', 45),
    '16º' : ('RedBull Bragantino', 44),
    '17º' : ('Athetico PR', 42),
    '18º' : ('Criciuma', 38),
    '19º' : ('Atlético GO', 30),
    '20º' : ('Cuiabá', 30)
}

pd.DataFrame(tabela_br24.values(), index=tabela_br24.keys(), columns=['Time', 'Pontos'])

                   Time  Pontos
1º             Botafogo      79
2º            Palmeiras      73
3º             Flamengo      70
4º            Fortaleza      68
5º        Internacional      65
6º            São Paulo      59
7º          Corinthians      56
8º                Bahia      53
9º             Cruzeiro      52
10º       Vasco da Gama      50
11º             Vitória      47
12º         Atlético MG      47
13º          Fluminense      46
14º              Grêmio      45
15º           Juventude      45
16º  RedBull Bragantino      44
17º         Athetico PR      42
18º            Criciuma      38
19º         Atlético GO      30
20º              Cuiabá      30

In [ ]:
for time in tabela_br24:
    posicao = list(tabela_br24.keys()).index(time) + 1
    pontos = tabela_br24[time][1]
    if posicao <= 6:
        print(f"O time {tabela_br24[time][0].upper()} está na posição {posicao} com {(pontos)} pontos e se classificou para a Copa Libertadores.")
    elif 7 <= posicao <= 8:
        print(f"O time {tabela_br24[time][0].upper()} está na posição {posicao} com {(pontos)} pontos e se classificou para a Pré-Libertadores.")
    elif 9 <= posicao <= 14:
        print(f"O time {tabela_br24[time][0].upper()} está na posição {posicao} com {(pontos)} pontos e se classificou para a Copa Sul-Americana.")
    elif 15 <=posicao >= 16:
        print(f"O time {tabela_br24[time][0].upper()} está na posição {posicao} com {(pontos)} pontos e permaneceu na Série A.")
    else:
        print(f"O time {tabela_br24[time][0].upper()} está na posição {posicao} com {(pontos)} pontos e foi rebaixado para a Série B.")

O time BOTAFOGO está na posição 1 com 79 pontos e se classificou para a Copa Libertadores.
O time PALMEIRAS está na posição 2 com 73 pontos e se classificou para a Copa Libertadores.
O time FLAMENGO está na posição 3 com 70 pontos e se classificou para a Copa Libertadores.
O time FORTALEZA está na posição 4 com 68 pontos e se classificou para a Copa Libertadores.
O time INTERNACIONAL está na posição 5 com 65 pontos e se classificou para a Copa Libertadores.
O time SÃO PAULO está na posição 6 com 59 pontos e se classificou para a Copa Libertadores.
O time CORINTHIANS está na posição 7 com 56 pontos e se classificou para a Pré-Libertadores.
O time BAHIA está na posição 8 com 53 pontos e se classificou para a Pré-Libertadores.
O time CRUZEIRO está na posição 9 com 52 pontos e se classificou para a Copa Sul-Americana.
O time VASCO DA GAMA está na posição 10 com 50 pontos e se classificou para a Copa Sul-Americana.
O time VITÓRIA está na posição 11 com 47 pontos e se classificou para a Copa Sul-Americana.
O time ATLÉTICO MG está na posição 12 com 47 pontos e se classificou para a Copa Sul-Americana.
O time FLUMINENSE está na posição 13 com 46 pontos e se classificou para a Copa Sul-Americana.
O time GRÊMIO está na posição 14 com 45 pontos e se classificou para a Copa Sul-Americana.
O time JUVENTUDE está na posição 15 com 45 pontos e foi rebaixado para a Série B.
O time REDBULL BRAGANTINO está na posição 16 com 44 pontos e permaneceu na Série A.
O time ATHETICO PR está na posição 17 com 42 pontos e permaneceu na Série A.
O time CRICIUMA está na posição 18 com 38 pontos e permaneceu na Série A.
O time ATLÉTICO GO está na posição 19 com 30 pontos e permaneceu na Série A.
O time CUIABÁ está na posição 20 com 30 pontos e permaneceu na Série A.